<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scopri i Nostri Servizi</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <h1>Benvenuti nel Nostro sito</h1>
        <p>Esplora le varie categorie che ti offriamo, selezionando dalla barra la categoria a cui sei interessato ti verranno mostrate un sacco di informazioni a riguardo.</p>
    </header>

    <section class="categories">
        <div class="category">
            <h2>People</h2>
            <p>Scopri una varietà di emoji, che rappresentano le possibili emozioni che una persona mostra.</p>
        </div>
        <div class="category">
            <h2>Flags</h2>
            <p>In questa scheda troverai le varie bandiere delle nazionalità che rappresentano il mondo.</p>
        </div>
        <div class="category">
            <h2>Animals</h2>
            <p>Le caratteristiche dei vari animali compresi di emoticon potrai trovare in questa schermata.</p>
        </div>
        <div class="category">
            <h2>Food</h2>
            <p>Consulta piatti esotici, ricchi di sapori unici e avvolgenti.</p>
        </div>
        <div class="category">
            <h2>Travel</h2>
            <p>Vari luoghi ti verranno proposti con famosi meraviglie naturali.</p>
        </div>
        <div class="category">
            <h2>Activities</h2>
            <p>Non hai alcuna idea di cosa fare per una tua attività, prova a consultare il catalogo Activities.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
